@keyframes floatHeart {
    0% {
        transform: translateY(100vh) scale(0);
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(-100px) scale(1);
        opacity: 0;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8C8DC;
    overflow: hidden;
    position: relative;
}

body::before,
body::after,
body::first-line,
body::last-line {
    content: '♥';
    position: fixed;
    color: rgba(255, 255, 255, 0.5);
    animation: floatHeart 2s infinite; /* Faster animation */
    z-index: -1;
}

body::before {
    left: 15%;
    font-size: 30px;
    animation-delay: 0s;
}

body::after {
    left: 85%;
    font-size: 20px;
    animation-delay: 1s;
}

body::first-line {
    left: 45%;
    font-size: 25px;
    animation-delay: 2s;
}

body::last-line {
    left: 65%;
    font-size: 28px;
    animation-delay: 3s;
}

/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    /* Smooth movement */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    /* Smooth movement */
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    /* optional: adds some space between the buttons */
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}
